<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% autoescape off %}
        Salut {{ user.username }}, bienvenue sur Djangod,

        Pour finaliser votre compte, merci de cliquer sur le lien suivant:

        http://{{ domain }}{% url 'activate' uidb64=uid token=token %}
        
    {% endautoescape %}
</body>
</html>