h2 {
    text-align: center;
}

form {
    max-width: 1100px;
    margin: auto;
}

.form-group {
    border: 1px solid black;
}
.form-control {
    display: block;
}
.help-text { 
    color: grey;
}
.error-text {
    color: red;
}